html
	head
	body
		h1 #{currentColor} Flowers
		
		form(action='showColors', methods='get')
			select(name='colorDropDown')
				each color in flowercolors
					option(value='#{color}') #{color}
			input(type='submit' name='colorButton' value='Choose color')
		
		ul
			each flower in flowers
				li #{flower.name} is #{flower.color}